

<div class='d-flex flex-column mb-3'>
    <div class="dropdown mt-2">
      <div class="btn btn-secondary dropdown-toggle",role="button" data-bs-toggle="dropdown" aria-expanded="false">
        並び替え
      </div>

      <ul class="dropdown-menu bg-secondary text-center">
        <li><%= link_to 'デフォルト', products_path(latest: true), class: "text-light link-offset-2 link-underline link-underline-opacity-0" %></li>
        <li><%= link_to '価格高い順', products_path(price_high_to_low: true), class: "text-light link-offset-2 link-underline link-underline-opacity-0" %></li>
        <li><%= link_to '価格安い順', products_path(price_low_to_high: true), class: "text-light link-offset-2 link-underline link-underline-opacity-0" %></li>
      </ul>
    </div>
  <% @products.each do |product| %>
    <div class="rounded-lg">
          <div class="d-flex align-items-center">
          <%= link_to product_path(product) do %>
            <div class="flex-shrink-0">
              <%= image_tag product.image, class: "mt-2" %>
            </div>
          <% end %>
            <div class="flex-grow-1 ms-3">
              <div class="p-2">
              <%= link_to product_path(product), class: "text-secondary link-offset-2 link-underline link-underline-opacity-0 cursor-pointer" do %>
                <p class="p-2 text-secondary link-offset-2 link-underline link-underline-opacity-0"><%= product.name %></p>
              <% end %>
                <div class="p-2">
                <%= link_to product_path(product), class: "text-secondary link-offset-3-hover link-offset-2 link-underline link-underline-opacity-0" do %>
                  <p class= "p-2 text-secondary"><%= number_to_currency(product.price, unit: "¥", strip_insignificant_zeros: true) %></p>
                  <% if product.stock > 0 %>
                    <span class="p-2 text-secondary">在庫あり</span>
                  <% else %>
                    <span class="p-2 text-secondary ">在庫不足</span>
                  <% end %>
                <% end %>
                </div>
              </div>
            </div>
          </div>
        
    </div>
  <% end %>
</div>
